.card-perfil {
  height: 292px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 

  padding: 32px 0;

  .foto {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
      
    background-color: #00FF00;
    border-radius: 50%;
    
    padding: 2px;
    img {
      width: 128px;
      height: 128px;
      border-radius: 50%;    
    }
  }

  .descricao {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    span {      
      font-size: 13px;      
    }
  }
}