.card {  
  background-color: #302F3D;
  color: #837E9F;
  width: 348px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.68);
  
  margin: 1rem 0;

  font-family: 'Merriweather Sans', sans-serif;
}